<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unsere Produkte</title>
    <link rel="stylesheet" href="style.css">
</head>
  <body>
        <h1>Unsere Produkte</h1>

        <nav>
            <ul>
                <%  items.forEach( (item,i) => { %>
                <li>
                    <a href="/product/<%=i%>">Produkt <%= i %> </a>
                </li>
                <% }); %>
            </ul>
        </nav>
  </body>
</html>