<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unsere Produkte</title>
    <link rel="stylesheet" href="../style.css">
</head>
  <body>
        <h1> <%= product.name %> </h1>
        <p><i> <%= product.description %> </i></p>
        <p> Price: EUR <%= product.price %> </p>

        <% if(product.stockWarn) { %>
            <p> Only  <%= product.quantity %> Items in stock!</p>
        <% } %>
        <p><a href="/">Startseite</a></p>
  </body>
</html>